html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: repeat(auto-fill, 40px);
    width: 100vw;
    height: 100vh;

    margin-top: -125px;
}

.neon-box {
    border: 2px solid cyan;
    background-color: black;
    height: 40px;
    width: 40px;
    transition: background-color 0.8s ease;
}

.neon-box:hover, .neon-box.glow {
    background-color: cyan;
}

.sign {
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 450px;
    left: 560px;
    width: 400px;
    height: 125px;
    background-color: white;
    border-radius: 90px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.2s ease;
    opacity: 0;
}
